$primary: #384787;
$primary-lighten: #5867A7;
$secondary: #65a4f1;
$charcoal: #666666;
$error: #F4516C;
$success: #5CBF60;
$warning: #FFC107;

// 나눔폰트
.nanum {
  font-family: 'NanumSquare', sans-serif !important;
}

.limit-width {
  max-width: 1200px;
}

.section-title {
  // font-size: 21px;
  font-family: 'NanumSquare', sans-serif !important;
  font-size: 20px;
  font-weight: 500;
  color: #444;
  margin-bottom: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.label{
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #666;
}

.text-link{
  color: $primary-lighten !important;
  font-weight: 500;
  transition: all .3s;
  cursor: pointer;
  &:hover{
    color: $primary-lighten !important;
    text-decoration: underline;
  }
}

.ink-color {
  color: #666 !important;
}

.v-rating__wrapper {
  margin: 0 -4px;
  .v-rating__item .v-btn {
    font-size: 14px;
  }
}

.status-chip {
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 12px;
}

.v-table {
  th, td {
    white-space: nowrap;
  }
  th {
    text-align: center !important;
    color: #666;
    font-weight: normal;
  }
  td {
    text-align: center;
  }
}

// 텍스트 필드 스타일 오버라이딩
.v-field--variant-filled {
  &.v-field {
    // border: 1px solid #e1e1e1;
    // border: 1px solid #384787;
    // border-radius: 4px;
    // color: #7C7E82 !important;
  }
  .v-field__overlay {
    background-color: #F5F5F5 !important;
  }
  // .v-progress-linear__background {
  //   background-color: red !important;
  // }
  // &.v-field--focused {
  //   &.v-field {
  //     box-shadow: 0 0 4px #384787 !important;
  //     border: inset 6px solid red !important;
  //   }
    // box-shadow: 0 0 4px #384787 !important;
    // border: inset 6px solid #384787;
  // }
}

.v-field--variant-filled.v-field {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  .v-field__outline {
    display: none;
  }
}
.v-field--variant-filled.v-field.v-field--focused {
  box-shadow: 0 0 4px #5867a7 !important;
  border: 1px solid #5867a7;
}

.v-field--variant-filled.v-field.v-field--error {
  border: 1px solid $error;
}

// 상세 목록 리스팅
dl{
  display: flex;
  align-items: center;
  padding: 12px 0;
  dt{
    width: 24%;
    white-space: nowrap;
    color: #999;
    flex-shrink: 0;
    min-width: 100px;
    padding-right: 24px;
    font-size: 13px;
    font-weight: 500;
  }
  dd{
    display: flex;
    width: 100%;
    min-height: 24px;
  }
  &.dense{
    padding: 4px 0;
  }
  &.border-thick{
    border-bottom: 1px solid #aaa !important;
  }
}
dl:not(.border-none) {
  border-bottom: 1px solid #f1f1f1;
}

.label {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.text-dense {
  letter-spacing: 0 !important;
}

.v-btn-toggle {
  .v-btn:not(.v-btn--active) {
    background-color: #f9f9f9;
    color: #aaa;
  }
}

.check-column {
  max-width: 32px !important;
  min-width: 32px !important;
  padding: 0 !important;
  .v-checkbox-btn{
    margin-bottom: -4px;
  }
}

// Date Picker 스타일
.vc-container {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%) !important;
  border-radius: 4px !important;
}

// Media Point
@media screen and (max-width: 959px) {
  dl{
    font-size: 15px;
    padding: 10px 0;
    dt{
      text-align: left;
    }
  }
}
